
.content{
    border: solid 1px rgb(209, 207, 207);
    border-radius: 30px;
    background-color: rgb(239, 233, 233);
    margin-top: 50px;
}

#main-picture{
    margin-top: 65px;
    margin-left: 50px;
}
.main-textblock{
    text-align: left;
    margin-top: 75px;
}
.city-block{
    text-align: center;
    color: rgb(96, 95, 95);
}
.form-control{
    margin-top: 50px;
    margin-right: 50px;
}

.footer{
text-align: center;
padding-top: 100px;
}

.time,
.day{
    display: block;
}

a{
    text-decoration: none;
    color: rgb(157, 142, 93);
}

#search-form{
    padding-right: 75px;
}
.weather{
   background-color: rgb(246, 239, 231); 
   border-radius: 30px;
   border: solid 1px rgb(209, 207, 207);
   padding: 20px 20px;
}

.even-day{
    background-color: rgb(246, 239, 231); 
    border-radius: 30px;
    border: solid 1px rgb(209, 207, 207);
    padding: 7px 7px 7px 7px;
}

.odd-day{
    background-color: rgb(193, 188, 183); 
    border-radius: 30px;
    border: solid 1px rgb(209, 207, 207);
    padding: 7px 7px 7px 7px;
}